h1 {
    text-align: center;
}

.test {
    margin: auto;
}


td {
    /* background: blue; */
    width: 100px;
    height: 100px;
    border-collapse: collapse;
}


.vertical {
    /* background-color: aqua; */
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.horizontal {
    /* background-color: aqua; */
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
/* 
#l2 {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
} */